{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
        <h1>Projects</h1>
        <table>
         <tr>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes</th>
            <th>Created</th>
            <th>Link</th>
            
         </tr>
         {% for p in projects %}
         <tr>
            <td>{{p.title}}</td>
            <td>{{p.vote_ratio}}</td>
            <td>{{p.vote_total}}</td>
            <td>{{p.created}}</td>
            <td><a href="{% url 'project' p.id %}">View</a></td>
            <td><a href="{% url 'deleteProject' p.id %}">Delete</a></td>
            <td><a href="{% url 'updateProject' p.id %}">Update</a></td>
        
         </tr>
         {% endfor %}
            
        </table>

    {% endblock content %}
        
</body>
</html>